In [1]:
import pandas as pd
import requests

from plyer import notification
from datetime import date

In [2]:
def alerta(nivel,base, etapa):
    if nivel == 200:
           nivel = 'API OK'
    else:
           nivel = 'Erro ao acessar a API'

    notification.notify(
        title=nivel,
        message=f'Falha no Carregamento da {base} no endPoint {etapa} {date.today()}',
        app_name='ALERTA',
        timeout=10
        
    )

alerta(2,'API','GET')

In [10]:
cep_dig = int(input("Digite um CEP, sem o traço: "))
url = "https://brasilapi.com.br/api/cep/v2/" + str(cep_dig)
response_01 = requests.get(url)

if response_01.status_code == 200:
    data_jason_01 = response_01.json()
else:
    alerta(2,'API','GET')
    #print("Erroa ao acessar a API")

In [15]:
ddd_dig = int(input("Digite um DDD com 2 digitos: "))
url = "https://brasilapi.com.br/api/ddd/v1/" + str(ddd_dig)
response_02 = requests.get(url)

if response_02.status_code == 200:
    data_jason_02 = response_02.json()
else:
    alerta(2,'API','GET')
    #print("Erroa ao acessar a API")

In [18]:
ano_dig = int(input("Digite um ANO, com 4 digitos: "))
url = "https://brasilapi.com.br/api/feriados/v1/" + str(ano_dig)
response_03 = requests.get(url)

if response_03.status_code == 200:
    data_jason_03 = response_03.json()
else:
    alerta(2,'API','GET')
    #print("Erroa ao acessar a API")

In [11]:
cep = pd.DataFrame(data_jason_01)
cep.head(5)

,cep,state,city,neighborhood,street,service,location
coordinates,04402160,SP,São Paulo,Vila Marari,Rua Raquel,widenet,{}
type,04402160,SP,São Paulo,Vila Marari,Rua Raquel,widenet,Point

In [16]:
ddd = pd.DataFrame(data_jason_02)
ddd.head(5)

  state                cities
0    SP            MOGI-MIRIM
1    SP            MOGI-GUAÇU
2    SP          ESTIVA GERBI
3    SP               VINHEDO
4    SP  VARGEM GRANDE DO SUL

In [19]:
feriado = pd.DataFrame(data_jason_03)
feriado.head(5)

         date                      name      type
0  2018-01-01  Confraternização mundial  national
1  2018-02-13                  Carnaval  national
2  2018-03-30         Sexta-feira Santa  national
3  2018-04-01                    Páscoa  national
4  2018-04-21                Tiradentes  national